/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/AssistantCoreSDKEditor.csproj
/AssistantCoreSDKRuntime.csproj
/Facebook.Wit.Editor.csproj
/Facebook.WitAI.csproj
/Library
/Logs
/Oculus.AudioManager.Audio.Editor.csproj
/Oculus.AudioManager.Utils.Editor.csproj
/Oculus.AudioManager.csproj
/Oculus.LipSync.Editor.csproj
/Oculus.LipSync.csproj
/Oculus.Platform.Editor.csproj
/Oculus.Platform.csproj
/Oculus.Spatializer.Editor.csproj
/Oculus.Spatializer.csproj
/Oculus.VR.Editor.csproj
/Oculus.VR.Scripts.Editor.csproj
/Oculus.VR.csproj
/QC2Test.apk
/Quest2Gesture.sln
/Temp
/VoiceSDK.Editor.csproj
/VoiceSDK.Runtime.csproj